@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes:
    corporate --default,
    business --prefersdark;
  root: ':root';
  include:;
  exclude:;
  prefix:;
  logs: false;
}
@custom-variant dark (&:where([data-theme=business], [data-theme=business] *));
html {
  color-scheme: corporate;
}
