@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes:
    corporate --default,
    business --prefersdark;
  root: ':root';
  include:;
  exclude:;
  prefix:;
  logs: true;
}
@custom-variant dark (&:where([data-theme=business], [data-theme=business] *));
html {
  color-scheme: corporate;
}

/* [data-theme='corporate'] {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

[data-theme='business'] {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
 */
