@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes:
    corporate --default,
    business --prefersdark;
  root: ':root';
  include:;
  exclude:;
  prefix:;
  logs: false;
}
@theme {
  --font-jetBrainsMono: 'JetBrains Mono', monospace;
}
@custom-variant dark (&:where([data-theme=business], [data-theme=business] *));
html {
  color-scheme: corporate;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
